.container {
  height: 20rem;
  margin-top: 5rem;
  position: relative;
  border: 1px solid white;
}
.left-button {
  display: flex;
  height: 2rem;
  align-items: center;

  position: absolute;
  top: 50%;
}
.right-button {
    display: flex;
    height: 2rem;
    align-items: center;
  
    position: absolute;
    top: 50%;
    right: 0;
  }
.image{
  position: absolute;
  left: 50%;
  top: 50%;
}